<p id="notice"><%= notice %></p>

<h1>Books</h1>

<form action="<%= books_path %>">
<input name="q">
<input type="submit" value="Submit">
</form>




<div class="container">

  <div id='books' class="row">

    <%= render @books %>

  </div>

</div>





<%= link_to 'New Book', new_book_path %>

<script>
$("[name=q]").keyup(function (event) {
  console.log('prueba ajax');
  
  event.preventDefault();
  $.ajax({
    url: "<%= books_path %>",
    type: "GET",
    dataType: "script",
    data: {q: $(this).val()}
  });
  
})

</script>

