<p id="notice"><%= notice %></p>




<p>
  <strong>Dueño del libro:</strong>
  <%= @book.user.try(:name) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>


<p>
  <strong>Editorial:</strong>
  <%= @book.editorial %>
</p>

<p>
  <strong>Critica del Libro:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Contacto:</strong>
  <%= @book.genre %>
</p>





<p>
<strong>Photo:</strong>
<br>
  <%= image_tag @book.photo.variant(resize:"500x500") %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
