<p id="notice"><%= notice %></p>


<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Usuarios interesados en tus libros</th>
      <th scope="col">Link a sus libros</th>
      <th scope="col">Mandar Mensaje</th>
      
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>link a libros</td>
      <td>mensaje</td>


      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>link a libros</td>
      <td>mensaje</td>

      
    </tr>

  </tbody>
</table>

<p>
  <strong>Dueño del libro:</strong>
  <%= @book.user.try(:name) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>


<p>
  <strong>Editorial:</strong>
  <%= @book.editorial %>
</p>

<p>
  <strong>Critica del Libro:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Contacto:</strong>
  <%= @book.genre %>
</p>





<p>
<strong>Photo:</strong>
<br>
  <%= image_tag @book.photo.variant(resize:"500x500") %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
