<p id="notice"><%= notice %></p>

<p>
  <strong>Dueño del libro:</strong>
  <%= @book.user.try(:name) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>


<p>
<strong>Photo:</strong>
<br>
  <%= image_tag @book.photo %>
</p>



<p>
  <strong>Photo:</strong>
  <%= @book.photo %>
</p>

<p>
  <strong>Editorial:</strong>
  <%= @book.editorial %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
